<div id="background">
  <div class="content">
    <div class="slogan">
      <p><span id="brand">JOIN</span> us &</p>
      <p>Communicate with the <%= link_to 'World', chat_rooms_path %> !!!</p>
    </div>

    <div class="btn-list">
      <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-highlight btn-ex' %>
      <%= link_to 'Login', new_user_session_path, class: 'btn btn-highlight btn-ex btn-white' %>
    </div>

  </div>
</div>
