<div class="msg">
  <% if message.user == current_user %>
    <%= render partial: 'messages/message_by_current_user', locals: { message: message } %>
  <% else %>
    <%= render partial: 'messages/message_by_others', locals: { message: message } %>
  <% end %>
</div>
