<div class="form-page">

  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <%= form_for @chat_room do |f| %>

        <div class="field form-group">
          <%= f.label :chat_room_name %>
          <%= f.text_field :title, autofocus: true, class: 'form-control' %>
        </div>

        <%= f.submit 'New chat room', class: 'btn btn-highlight' %>
      <% end %>
    </div>
  </div>

</div>
