/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$highlight: #44aed8;
$frontground: #eeeeee;

header {
    .navbar {
        border-radius: 0;
        background-color: $highlight;
        border-color: $highlight;

        .navbar-toggle {
            border-color: $frontground;

            .icon-bar {
                color: $frontground;
                background-color: $frontground;
            }

            &:hover {
                color: lighten($frontground, 20%);
                background-color: darken($highlight, 5%);
            }

            &:focus {
                color: lighten($frontground, 20%);
                background-color: darken($highlight, 5%);
            }
        }
        .navbar-brand {
            padding-left: 3rem;
            padding-right: 3rem;
            color: $frontground;
            text-transform: uppercase;

            &:hover {
                background-color: darken($highlight, 5%);
            }
        }

        .navbar-collapse {
            border-color: darken($highlight, 5%);

            ul.navbar-nav {
                li {
                    a {
                        padding-left: 3rem;
                        color: $frontground;
                        &:hover {
                            background-color: darken($highlight, 5%);
                        }
                    }
                }
            }
        }
    }
}

footer {
    text-align: center;
    height: 6rem;
    padding-top: 2rem;

    p {
        line-height: 2rem;
    }
}
