/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$highlight: #44aed8;
$foreground: #efefef;
$background: #333333;
$error: #f1a6a6;

header {
    .navbar {
        border-radius: 0;
        background-color: $highlight;
        border-color: $highlight;

        .navbar-toggle {
            border-color: $foreground;

            .icon-bar {
                color: $foreground;
                background-color: $foreground;
            }

            &:hover {
                color: lighten($foreground, 20%);
                background-color: darken($highlight, 5%);
            }

            &:focus {
                color: lighten($foreground, 20%);
                background-color: darken($highlight, 5%);
            }
        }
        .navbar-brand {
            padding-left: 3rem;
            padding-right: 3rem;
            color: $foreground;
            text-transform: uppercase;

            &:hover {
                background-color: darken($highlight, 5%);
            }
        }

        .navbar-collapse {
            border-color: darken($highlight, 5%);

            ul.navbar-nav {
                li {
                    a {
                        padding-left: 3rem;
                        color: $foreground;
                        &:hover {
                            background-color: darken($highlight, 5%);
                        }
                    }
                }
            }
        }
    }
}

.yield-content {
    // margin-top: 20vh;
    min-height: 60vh;
    margin-bottom: 5vh;
}

footer {
    text-align: center;
    height: 6rem;
    padding-top: 2rem;

    p {
        line-height: 2rem;
    }
}

.btn-highlight {
    background-color: $highlight;
    color: $foreground;
    margin: 0 auto;
    width: 100%;
    &:hover {
        background-color: darken($highlight, 6%);
        color: lighten($foreground, 10%);
    }
}

a {
    color: $highlight;

    &:hover {
        text-decoration: none;
        color: darken($highlight, 20%);
    }
}

#error_explanation {
    border: 1px lighten($error, 10%) solid;
    margin-bottom: 2rem;

    h2 {
        margin: 0;
        padding: 0;
        padding-left: 2rem;
        height: 3.9rem;
        line-height: 3.9rem;
        color: $foreground;
        background-color: $error;
        font-size: 1.5rem;
    }

    ul {
        margin: 0;
        padding: 2rem;
        color: $error;
        list-style: none;
        li {
        }
    }
}
