// Place all the styles related to the chat_rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import './application.scss';


$msg-background: #f7f8fc;

h1.rooms-header {
    // font-size: 2.5rem;
    margin-bottom: 3rem;
}

ul.rooms {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 6rem;

    li {
        display: block;
        height: 9rem;
        // border: 1px solid $foreground;
        margin-bottom: 1rem;
        padding: 1rem 2rem;

        &:hover {
            background: lighten($foreground, 3%);

            .room-detail {
                .count {
                    color: $highlight;
                }
            }
        }

        .room-title {
            margin-bottom: 1rem;
            color: $background;
            font-size: 2rem;
            text-transform: capitalize;
        }

        .room-detail {
            .small-gravatar {
                img {
                    display: inline-block;
                    height: 2rem;
                    width: 2rem;
                    border-radius: 1rem;
                }
            }

            .notes {
                color: lighten($background, 39%);
                font-size: 1.2rem;
            }


            .count {
                color: lighten($background, 39%);
                width: 100%;
                display: inline-block;
                text-align: right;
            }

            @media (max-width: 768px) {
                .count {
                    font-size: 1.2rem;
                }
            }

        }
    }

    @media (max-width: 768px) {
        li {
            padding: .5rem 1rem;
        }
    }
}

.paginate {
    display: inline-block;
    width: 100%;
    text-align: center;
}







































.msg-layout {
    background-color: $msg-background;
    width: 100%;
    overflow-x: hidden !important;
}

#wrapper {
    padding-left: 0;
    transition: all .1s ease-in-out;
}

#wrapper.menuDisplayed {
    padding-left: 350px;

    #sidebar-wrapper {
        width: 350px;
    }

    #page-content-wrapper {
        margin-right: -350px;
        position: absolute;
    }
}

#menu-toggle {
    display: none;
}


#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    height: 100%;
    left: 350px;
    margin-left: -350px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 0px;
    transition: all .1s ease-in-out;

    &::-webkit-scrollbar {
        display: none;
    }

}

#page-content-wrapper {
    width: 100%;
}


ul.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 5rem 8rem;

    li {
        margin-bottom: 2rem;
    }

    a {
        color: lighten($background, 10%);
    }

    .sidebar-brand {
        text-transform: uppercase;
        font-size: 3rem;
    }

    .room-title {
        font-size: 5rem;
    }

    .room-creator {
        font-size: 1.8rem;
    }

    .created_time {
        font-size: 1.8rem;
    }

    .normal-text {
        color: lighten($background, 20%);
        font-size: 1.2rem;
    }
}


@media (max-width: 992px) {

    #wrapper.menuDisplayed {
        padding-left: 0;
        #sidebar-wrapper {
            width: 0;
        }

        #page-content-wrapper {
            margin-right: 0;
            position: relative;
        }
    }

    #wrapper {
        padding-left: 350px;
        #sidebar-wrapper {
            width: 350px;
            background-color: $background;

            color: $foreground;

            li, a {
                color: $foreground;
            }
            .normal-text {
                color: darken($foreground, 20%);
            }
        }

        #page-content-wrapper {
            margin-right: -350px;
            position: absolute;
        }
    }

    #menu-toggle {
        display: block;
    }
}


@media (max-width: 350px) {

    #wrapper.menuDisplayed {
        padding-left: 0;
        #sidebar-wrapper {
            width: 0;
        }

        #page-content-wrapper {
            margin-right: 0;
            position: relative;
        }
    }

    #wrapper {
        padding-left: 220px;
        #sidebar-wrapper {
            left: 220px;
            margin-left: -220px;
            width: 220px;
            background-color: $background;
        }

        #page-content-wrapper {
            margin-right: -220px;
            position: absolute;
        }
    }

    ul.sidebar-nav {
        margin: 5rem 3rem;
        li, a {
            color: $foreground;
        }

        .sidebar-brand {
            font-size: 2rem;
        }

        .room-title {
            font-size: 3rem;
        }

        .room-creator {
            font-size: 1.5rem;
        }

        .created_time {
            font-size: 1.5rem;
        }

        .normal-text {
            color: lighten($background, 20%);
            font-size: 1rem;
        }
    }
    #menu-toggle {
        display: block;
    }
}

















































.messages-board {
    margin-top: 5rem;
    margin-bottom: 5rem;

    .msg {
        margin-bottom: 2rem;
        .msg-frame {
            background-color: lighten($foreground, 10%);
            border: 1px lighten($foreground, 10%) solid;
            border-radius: 23px 23px 23px 0;
            box-shadow: -10px 10px 20px lighten($foreground, 0%);
            padding: .8rem;
            // padding-bottom: .8rem;
            min-height: 6.3rem;
        }

        .msg-frame.msg-by-me {
            background-color: lighten($highlight, 0%);
            border: 1px lighten($highlight, 0%) solid;
            border-radius: 23px 23px 0 23px;
            box-shadow: 1px 3px 20px lighten($highlight, 20%);

            .detail {
                color: $foreground;
                width: 100%;
                // text-align: right;
                text-align: justify;
            }

            .msg-body {
                color: $foreground;
                display: inline-block;
                width: 100%;
                text-align: justify;
                padding-top: 1rem;
            }
        }

        .middle-gravatar {
            display: inline-block;
            width: 100%;
            text-align: center;
            padding-top: .5rem;
            img {
                height: 3rem;
                width: 3rem;
                border-radius: 100%;
            }

            @media (max-width: 350px) {
                img {
                    height: 2.5rem;
                    width: 2.5rem;
                    border-radius: 100%;
                }
            }
        }

        .leave-left {
            padding-left: 5rem;
        }

        .leave-right{
            padding-right: 3.3rem;
        }

        .detail {
            display: inline-block;
            color: lighten($background, 39%);
            font-size: 1.3rem;
            margin-bottom: .5rem;
        }

        @media (max-width: 350px){
            .detail {
                font-size: 1.2rem;
            }
        }

        .time {
            color: darken($foreground, 30%);
            font-size: 1rem;
            margin-top: 1.5rem;
        }

        .time.by-me {
            text-align: right;
        }
    }
}
